<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
  <!-- #/tweetsにpostメソッドでフォームに入力された情報を送信 -->
    <h3>
      投稿
    </h3>
    <input placeholder="Nickname" type="text" name="name">
    <input placeholder="Image Url" type="text" name="image">
    <textarea cols="30" name="text" placeholder="ここに入力してね" rows="10"></textarea>
    <input type="submit" value="(っ´･ω･)っ［ツイート］ ">
  <% end %>
  <!-- <%= form_tag('/tweets', method: :post) do %>と<% end %>で囲むと入力のタグになる -->
  <!-- '/tweets'はパスを表している
  method: :postはhttpメソッドをpostすると言う書き方 -->
</div>
